.root {
    /*-fx-background-image: url("img2.png");*/
    -fx-font-family: /*"Lucida Fax"*/'Lucida Fax';
}
.label {
    -fx-font-size: 25px;
    -fx-text-fill: #FF4619;
}
.gridpane .label{
    -fx-font-size:14px;
    -fx-text-fill:black;
    -fx-alignment:CENTER_RIGHT;
    -fx-border-color: black;
}
#contingut1{
    -fx-alignment: CENTER;
}
#separador{
 /* -fx-background-color: #464646;  */
}
#lbCapcelera{
    -fx-font-size: 720%;
    -fx-alignment: CENTER;
    -fx-font-family: /*"sans-serif"*/'Lucida Fax';
}
#lbLogin{
    -fx-alignment: CENTER_LEFT;
    -fx-font-size: 15px;
    -fx-text-fill: #FFD29D;
}
#btEnrere{
    -fx-border:none; 
    -fx-background-color: #f3f3f3;
    /*-fx-border-color: #FF4619;
    /*-fx-box-shadow:inset 0 0 0 3px #FF4619;
    
    -fx-border-width: 3px;
    -fx-font-size: 15px;
    -fx-text-fill: #464646;*/
    -fx-border-radius: 85px;
    -fx-background-image: url('../img/flexa1.png');
    -fx-text-alignment: left;
}

#btEnrere:hover{
    -fx-border-radius: 5px;
    -fx-background-image: url('../img/flexa2.png');
     /* -fx-box-shadow:inset 0 0 0 3px #3a7999;*/
}

#VBoxTop {
 /*-fx-font-size: 32px;
 -fx-font-family: "Arial Black";
 -fx-fill: #336699;
 -fx-effect: innershadow( three-pass-box , rgba(153,0,204,0.7) ,
6, 0.0, 0 , 2 );*/
    -fx-background-color: #464646;
    -fx-font-weight: bold;
    -fx-text-fill: #FF4619;
 
}
#consultaResult{
    -fx-text-fill:#AE33FF;
}
#styleMenu{
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-text-fill: #D3E1FF;
    /*-fx-background-color: #AFC8FF;*/
}
