.root {
/*-fx-background-image: url("img2.png");*/
-fx-font-family: /*"Lucida Fax"*/'Lucida Fax';
}
#BordPn{/*BorderPanePrincipal!!*/
     -fx-ba1ckground-color: #eeeeee; 
}
#MenuPrincipal{
     -fx-background-image: url('../img/FondoSubmenu1.png');
     -fx-background-repeat: no-repeat;
     -fx-background-size: cover, auto;
}
.label {
 /*-fx-font-size: 25px;
 -fx-text-fill: #000000;*/
}
#contingut1{
    -fx-alignment: CENTER;
    -fx-background-image: url('../img/FondoSubmenu.png');
   
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;   
}

#contingut2{
    -fx-alignment: CENTER;
}
/*#botPantallaPrincipal{
  -fx-background-color: #e3e3e3; 
  
}*/
#lbCapcelera{
     -fx-font-size: 720%;
     -fx-alignment: CENTER;
     -fx-text-fill: #FF4619;
     -fx-font-family: /*"sans-serif"*/'Lucida Fax';
}
#btEnrere{
    -fx-border:none; 
    -fx-background-color: #f3f3f3;
    /*-fx-border-color: #FF4619;
    /*-fx-box-shadow:inset 0 0 0 3px #FF4619;
    
    -fx-border-width: 3px;
    -fx-font-size: 15px;
    -fx-text-fill: #464646;*/
    -fx-border-radius: 85px;
    -fx-background-image: url('../img/flexa1.png');
    -fx-text-alignment: left;
    

}

#btEnrere:hover{
     -fx-border-radius: 5px;
    
     -fx-background-image: url('../img/flexa2.png');
     /* -fx-box-shadow:inset 0 0 0 3px #3a7999;*/
}
/*------------------------------Login css-----------------------------------------*/
#lbLogin{
    -fx-alignment: CENTER_LEFT;
    -fx-font-size: 15px;
    -fx-text-fill:#464646;
}
#girdLogin{
   -fx-text-fill: #464646;
}

#btsLogin{
    
    -fx-text-fill: #FF4619;
}
#lbUserLogin{-fx-text-fill:#464646;  -fx-font-weight:bold;}
#lbContraLogin{-fx-text-fill:#464646;  -fx-font-weight:bold;}
#lbResutatLogin{-fx-text-fill:#FE0000;  -fx-font-size:12px;}

#bt1Login{-fx-font-size:15px;  -fx-font-weight:bold;  -fx-border-radius:5px;  -fx-border-color:#FF4619;}
#bt2Login{-fx-font-size:15px;  -fx-font-weight:bold;  -fx-border-radius:5px;  -fx-border-color:#FF4619;}
#bt1Login:hover{-fx-font-weight:bold;  -fx-text-fill:#f3f3f3; -fx-background-color: #464646;}
#bt2Login:hover{-fx-font-weight:bold;   -fx-text-fill:#f3f3f3; -fx-background-color: #464646;}
#VBoxLogin{
   -fx-font-size: 25px;
    -fx-text-fill: #464646; 
}
/*Acava el login*/

/*----------------------------Menu Principal---------------------------------------*/
#opcioMenuMant{          -fx-image: url('../img/Manteniment.png');  }
#opcioMenuMant:hover{    -fx-image: url('../img/Manteniment2.png');}
#opcioMenuProducte{        -fx-image: url('../img/MantObres.png');}
#opcioMenuProducte:hover{  -fx-image: url('../img/MantObres2.png');  }
#opcioMenuPrestecs{      -fx-image: url('../img/BiblioPrestecs.png');  }
#opcioMenuPrestecs:hover{-fx-image: url('../img/BiblioPrestecs2.png');  }
/*-----------------------------------Submenu---------------------------------------*/

.topSubMenu{
   /* -fx-background-color: #D0D3D4;*/
}
.gridPaneMant{
  /*  -fx-text-fill: #000000;*/
}
.labelsMenu{-fx-font-size: 20px;
            -fx-text-fill: #000000;
            -fx-font-weight:bold;}

#opcioSubMenuAutor{               -fx-image: url('../img/MantAutor.png'); }
#opcioSubMenuAutor:hover{         -fx-image: url('../img/MantAutor2.png'); }
#opcioMenuCdu{                    -fx-image: url('../img/MantCDU.png'); }
#opcioMenuCdu:hover{              -fx-image: url('../img/MantCDU2.png'); }
#opcioSubMenuEditorial{           -fx-image: url('../img/MantEditorial.png'); }
#opcioSubMenuEditorial:hover{     -fx-image: url('../img/MantEditorial2.png'); }
#opcioSubMenuUsuari{              -fx-image: url('../img/BiblioUsuari.png');}
#opcioSubMenuUsuari:hover{        -fx-image: url('../img/BiblioUsuari2.png');}
#opcioSubMenuProducteMant{        -fx-image: url('../img/MantObres.png');}
#opcioSubMenuProducteMant:hover{  -fx-image: url('../img/MantObres2.png');  }
#opcioSubMenuColecions{           -fx-image: url('../img/submenColecions.png');}
#opcioSubMenuColecions:hover{     -fx-image: url('../img/submenColecions2.png');}
#opcioSubMenuFormat{              -fx-image: url('../img/submenuFormat.png'); }
#opcioSubMenuFormat:hover{        -fx-image: url('../img/submenuFormat2.png');}
#opcioSubMenuIdioma{              -fx-image: url('../img/submenuIdioma.png');}
#opcioSubMenuIdioma:hover{        -fx-image: url('../img/submenuIdioma2.png');}
#opcioSubMenuNivells{              -fx-image: url('../img/submenuNivells.png');}
#opcioSubMenuNivells:hover{        -fx-image: url('../img/submenuNivells2.png');}
#opcioSubMenuProcedencia{          -fx-image: url('../img/submenuProcedencia.png');}
#opcioSubMenuProcedencia:hover{    -fx-image: url('../img/submenuProcedencia2.png');}
#opcioSubMenuMaterias{             -fx-image: url('../img/submenuMaterias.png');}
#opcioSubMenuMaterias:hover{       -fx-image: url('../img/submenuMaterias2.png');}
#opcioSubMenuMes{                  -fx-image: url('../img/MantMes.png');}
#opcioSubMenuMes:hover{             -fx-image: url('../img/MantMes2.png');}


/*-------------------------Menu Principal Usuari-------------------------------------*/
#opcioConsulta{-fx-image: url('../img/consultaUsuari.png');}
#opcioConsulta:hover{-fx-image: url('../img/consultaUsuari2.png');}
#opcioEditarPerfil{-fx-image: url('../img/editarPerfil.png');}
#opcioEditarPerfil:hover{-fx-image: url('../img/editarPerfil2.png');}
#HboxPrincipalUsuari{
    -fx-alignment: CENTER;
    -fx-font-size: 15px;
    -fx-text-fill:#464646;
}
/*------------------------Generic Cerca-------------------------------*/
#numerosPaginacio{
    -fx-font-size: 15px;
    -fx-text-fill: #FF4619;
    
}
#botoSelect{
    -fx-font-size: 15px;
    -fx-text-fill: #FF4619;
}
.botosGenerics{-fx-font-size:15px;  -fx-font-weight:bold;  -fx-border-radius:5px;  -fx-border-color:#0069FF;}
.botosGenerics:hover{-fx-font-weight:bold;  -fx-text-fill:#f3f3f3; -fx-background-color: #464646;-fx-border-color:#FF4619;}
#LabelCercaAbansada:hover{
    -fx-text-fill: #FF4619;
}
#_hbPages:nth-child:odd{
    -fx-text-fill: #FFCCBB;
}
#numerosParells{
    
}
#numerosSeleccionats{
    
}




#VBoxTop {
 /*-fx-font-size: 32px;
 -fx-font-family: "Arial Black";
 -fx-fill: #336699;
 -fx-effect: innershadow( three-pass-box , rgba(153,0,204,0.7) ,
6, 0.0, 0 , 2 );*/
 -fx-background-color: #464646;
 -fx-font-weight: bold;
 -fx-text-fill: #FF4619;
 
}
#consultaResult{
    -fx-text-fill:#AE33FF;
}
#styleMenu{
     -fx-font-size: 17px;
     -fx-font-weight: bold;
     -fx-text-fill: #D3E1FF;
     /*-fx-background-color: #AFC8FF;*/
}
